<div class="content-wrapper">
  <div class="main-content-title-wrap">
    閲覧
    <div class="sub-buttons">
      <div class="d-inline">
        <a href="" class="info">CSVアップロード</a>
      </div>
    </div>
  </div>
  <div class="search">
    <%= form_with(url: edit_budgets_path, local: true, method: :get) do |f| %>

    <div class="form-group">
      <div class="form-label">
        <label>指定年月</label>
      </div>
      <div class="form-inline">
        <div class="inline-center">

          <%= f.select :year,options_for_select(@year_range.map{|i| ["#{i}年",i] },@ymd.year),{},{ autofocus: 'true', class: 'input-item text-end',id:"year"}%>
          <span>/</span>
          <%= f.select :month,options_for_select((1..12).map{|i| ["#{i}月",i] },@ymd.month),{},{ autofocus: 'true', class: 'input-item',id:"month"}%>
        </div>
      </div>
    </div>
    <div class="form-group-btn">
      <%= f.submit "検索" ,class:"form__btn" %>
    </div>
    <% end %>
  </div>
  <div class="result-wrapper">
    <div class="result-title">
      店舗売上実績情報
    </div>
  </div>
  <div class="search-table-all">
    <div class="search-table">
      <table class="search">
        <tr class='search-head'>
          <th class='category'>カテゴリ</th>
          <th class='subject'>科目</th>
          <th class='search-item'><%=current_store.name%>予算</th>
          <th class='search-item'><%=current_store.name%>実績</th>
          <th class='search-item'><%=current_store.name%>達成率</th>
        </tr>

        <tr class="search-record">
          <td class="category"></td>
          <td class="subject">売上</td>
          <td class="search-item"><%=patch_budget('sale').to_s(:delimited)%></td>
          <td class="search-item"><%=sum_achievement('sale').to_s(:delimited)%></td>
          <td class="search-item"><%=number_to_percentage(sum_achievement('sale').quo(patch_budget('sale')))%></td>
        </tr>

        <tr class="search-record">
          <td class="category"></td>
          <td class="subject">その他</td>
          <td class="search-item">売上総予算</td>
          <td class="search-item">売上総実績</td>
          <td class="search-item">予算/実績</td>
        </tr>

        <tr class="search-record" style='background-color:#EEFFDD'>
          <td class="category">売上</td>
          <td class="subject"></td>
          <td class="search-item">売上総予算</td>
          <td class="search-item">売上総実績</td>
          <td class="search-item">予算/実績</td>
        </tr>



        <tr class="search-record">
          <td class="category"></td>
          <td class="subject">食材費</td>
          <td class="search-item">食材費予算</td>
          <td class="search-item">食材費実績</td>
          <td class="search-item">予算/実績</td>
        </tr>
        <tr class="search-record">
          <td class="category"></td>
          <td class="subject">資材費</td>
          <td class="search-item">資材費予算</td>
          <td class="search-item">資材費実績</td>
          <td class="search-item">予算/実績</td>
        </tr>
        <tr class="search-record">
          <td class="category"></td>
          <td class="subject">役員報酬</td>
          <td class="search-item">役員報酬予算</td>
          <td class="search-item">役員報酬実績</td>
          <td class="search-item">予算/実績</td>
        </tr>
        <tr class="search-record">
          <td class="category"></td>
          <td class="subject">社員人件費</td>
          <td class="search-item">社員人件費予算</td>
          <td class="search-item">社員人件費実績</td>
          <td class="search-item">予算/実績</td>
        </tr>
        <tr class="search-record">
          <td class="category"></td>
          <td class="subject">P人件費</td>
          <td class="search-item">P人件費予算</td>
          <td class="search-item">P人件費実績</td>
          <td class="search-item">予算/実績</td>
        </tr>
        <tr class="search-record" style='background-color:#EEFFDD'>
          <td class="category">総原価</td>
          <td class="subject"></td>
          <td class="search-item">総原価予算</td>
          <td class="search-item">総原価実績</td>
          <td class="search-item">予算/実績</td>
        </tr>
        <tr class="search-record" style='background-color:#FFEEE6'>
          <td class="category">粗利益</td>
          <td class="subject"></td>
          <td class="search-item">粗利予算</td>
          <td class="search-item">粗利実績</td>
          <td class="search-item">予算/実績</td>
        </tr>

      </table>
    </div>
  </div>
</div>
