<div class="content-wrapper">
  <div class="main-content-title-wrap">
    閲覧
    <div class="sub-buttons">
      <div class="d-inline">
        <a href="" class="info">CSVアップロード</a>
      </div>
    </div>
  </div>
  <div class="search">
    <%= form_with(url: edit_budgets_path, local: true, method: :get) do |f| %>

    <div class="form-group">
      <div class="form-label">
        <label>指定年月</label>
      </div>
      <div class="form-inline">
        <div class="inline-center">

          <%= f.select :year,options_for_select(@year_range.map{|i| ["#{i}年",i] },@ymd.year),{},{ autofocus: 'true', class: 'input-item text-end',id:"year"}%>
          <span>/</span>
          <%= f.select :month,options_for_select((1..12).map{|i| ["#{i}月",i] },@ymd.month),{},{ autofocus: 'true', class: 'input-item',id:"month"}%>
        </div>
      </div>
    </div>
    <div class="form-group-btn">
      <%= f.submit "検索" ,class:"form__btn" %>
    </div>
    <% end %>
  </div>
  <div class="result-wrapper">
    <div class="result-title">
      店舗売上実績情報
    </div>
  </div>
  <div class="search-table-all">
  <div class="search-table">
   <table class="search">
     <tr class='search-head'>
      <th class='category'>カテゴリ</th>
      <th class='subject'>科目</th>
      <th class='search-item'><%=current_store.name%>予算</th>
      <th class='search-item'><%=current_store.name%>実績</th>
      <th class='search-item'><%=current_store.name%>達成率</th>
     </tr>
     <tr class="search-record">
      <td class="serch-item">売上</td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
     </tr>
     <tr class="search-record">
      <td class="serch-item"></td>
      <td class="serch-item">売上</td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
     </tr>
     <tr class="search-record">
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
     </tr>
     <tr class="search-record">
      <td class="serch-item">売上</td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
     </tr>
     <tr class="search-record">
      <td class="serch-item">売上</td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
     </tr>
     <tr class="search-record">
      <td class="serch-item">売上</td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
     </tr>
     <tr class="search-record">
      <td class="serch-item">売上</td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
     </tr>
     <tr class="search-record">
      <td class="serch-item">売上</td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
     </tr>
     <tr class="search-record">
      <td class="serch-item">売上</td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
     </tr>
     <tr class="search-record">
      <td class="serch-item">売上</td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
     </tr>
     <tr class="search-record">
      <td class="serch-item">売上</td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
     </tr>
     <tr class="search-record">
      <td class="serch-item">売上</td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
      <td class="serch-item"></td>
     </tr>
   </table>
  </div>
  </div>
</div>
