<td class='variable-column'>
  <%= fh.text_field :food_cost, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :material_cost, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :pert_cost, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :miscellaneous_cost, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :delivery_commission, :class=> "input_variable text-end"%>
</td>
