<td class='variable-column'>
  <%= fh.text_field :communications_variable, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :publicity_variable, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :garbage_variable, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :car_variable, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :credit_variable, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :clean_variable, :class=> "input_variable text-end"%>
</td>
