<td class='variable-column'>
  <%= fh.text_field :overtime_employee_cost, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :social_insurance_part, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :meeting, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :traveling, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :selling_administration_cost, :class=> "input_variable text-end"%>
</td>
<td class='variable-column'>
  <%= fh.text_field :interest_payment, :class=> "input_variable text-end"%>
</td>
