<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">会社ログイン</h2>

      <%= form_with  model:@company,url: company_session_path, local: true do |f| %>

      <div class="field">
        <%= f.label :name, "会社名" ,class:"certification"%><br />
        <%= f.text_field :name, id:"user_email", autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード（6文字以上）" ,class:"certification"%><br />
        <%= f.password_field :password, id:"user_password", autocomplete: "current-password" %>
      </div>

      <% unless store_signed_in? %>
      <p><%= link_to '店舗でログイン',new_store_session_path, class: "info"%></p>
      <%end%>
      <p><%= link_to 'Forgot Password ?',root_path, class: "info"%></p>
      <div class="actions">
        <%= f.submit "ログイン", class: :form__btn %>
      </div>
      <% end %>
    </div>
  </div>
</div>
