<div class="budgets-wrapper">
  <div class="main-content-title-wrap">閲覧・編集</div>
  <div class="result-wrapper">
    <div class="result-title">
      曜日別予算比率入力情報
    </div>
  </div>
  <%= form_with model: @budgets_day_ratio,url:budgets_day_ratios_path,local: true do |f| %>
  <div class="result-content">
    <table class="budgets-table">
      <tr class='table-head'>
        <th class='search-column'>曜日</th>
        <th class='budgets-value'>予算比率入力</th>
        <th class="last-month">現在の予算比率</th>
      </tr>
      <tr>
        <td class='search-column'>日曜日</td>
        <td class='budgets-value'>100</td>
        <td class="last-month">100</td>
      </tr>
      <tr>
        <td class='search-column'>月曜日</td>
        <td class='budgets-value'>
          <%= f.text_field :monday, class: 'input-group-append text-end',value:@now_store_ratio.monday%></td>
        <td class="last-month"><%=@now_store_ratio.monday%></td>
      </tr>
      <tr>
        <td class='search-column'>火曜日</td>
        <td class='budgets-value'>
          <%= f.text_field :tuesday, class: 'input-group-append text-end',value:@now_store_ratio.tuesday%>
        </td>
        <td class="last-month"><%=@now_store_ratio.tuesday%></td>
      </tr>
      <tr>
        <td class='search-column'>水曜日</td>
        <td class='budgets-value'>
          <%= f.text_field :wednesday, class: 'input-group-append text-end',value:@now_store_ratio.wednesday%>
        </td>
        <td class="last-month"><%=@now_store_ratio.wednesday%></td>
      </tr>
      <tr>
        <td class='search-column'>木曜日</td>
        <td class='budgets-value'>
          <%= f.text_field :thursday, class: 'input-group-append text-end',value:@now_store_ratio.thursday%>
        </td>
        <td class="last-month"><%=@now_store_ratio.thursday%></td>
      </tr>
      <tr>
        <td class='search-column'>金曜日</td>
        <td class='budgets-value'>
          <%= f.text_field :friday, class: 'input-group-append text-end',value:@now_store_ratio.friday%></td>
        <td class="last-month"><%=@now_store_ratio.saturday%></td>
      </tr>
      <tr>
        <td class='search-column'>土曜日</td>
        <td class='budgets-value'>
          <%= f.text_field :saturday, class: 'input-group-append text-end',value:@now_store_ratio.saturday%>
        </td>
        <td class="last-month"><%=@now_store_ratio.saturday%></td>
      </tr>
      <tr>
        <td class='search-column'>祝日</td>
        <td class='budgets-value'>
          <%= f.text_field :holiday, class: 'input-group-append text-end',value:@now_store_ratio.holiday%>
        </td>
        <td class="last-month"><%=@now_store_ratio.holiday%></td>
      </tr>
    </table>
  </div>
  <div class="form-group-btn">
    <%= f.submit "登録" ,class:"form__btn", id:"button" %>
  </div>
  <% end %>
</div>
