<!DOCTYPE html>
<html>

<head>
  <title>ProfitLoss</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="header">

    <div class="nav">
      <div class="nav__left">
        <%# <button id="menu-btn" class="active">
        </button> %>
        <%= link_to image_tag("logo.png", class: :logo), root_path %>
      </div>
      <% if store_signed_in?%>
      <div class="nav__right">
        <span class="company_nu">合同会社PlasH-table</span>
        <span class="store_nu"> BENCIA </span>
        <%= link_to "ログアウト", destroy_store_session_path,method: :delete, class: :nav__logout %>
      </div>
      <% elsif company_signed_in?%>
      <div class="nav__right">
        <span class="company_nu">合同会社PlasH-table</span>
        <%= link_to "店舗としてログイン", destroy_store_session_path,method: :delete, class: :nav__logout %>
        <%= link_to "ログアウト", destroy_store_session_path,method: :delete, class: :nav__logout %>
      </div>
      <% end %>
    </div>
  </header>
  <div class="wrapper">
    <div class="sidebar">
      <ul class="input_lists">
        <li class="side_list_table_top">
          <i class="fa fa-home" aria-hidden="true"></i>店舗収支管理</li>
        <li class="side_list">売上管理</li>
        <li class="side_list">臨時収入管理</li>
        <li class="side_list">固定費管理</li>
        <li class="side_list">変動費管理</li>
      </ul>
      <ul class="configuration_lists">
        <li class="side_list_table"><i class="fa fa-cog" aria-hidden="true"></i>店舗設定</li>
        <li class="side_list">新規出店</li>
        <li class="side_list">予算管理</li>
        <li class="side_list">予算比率管理</li>
      </ul>
      <ul class="management_lists">
        <li class="side_list_table"><i class="fa fa-calculator" aria-hidden="true"></i>店舗分析</li>
        <li class="side_list">売上実績一覧</li>
        <li class="side_list">Zチャート</li>
        <li class="side_list">簡易PL</li>
      </ul>
    </div>
    <div class="main">
      <%= yield %>
    </div>
  </div>
  <footer class="footer">
    <p class="copyright">Copyright © FOOD JOURNAL All rights reserved.</p>
  </footer>
</body>

</html>
